<%- include('../_layout/adminHeader') %>

<h2 class="page-title">Add a Page</h2>
<a href="/admin/pages" class="btn btn-primary">back to all page</a>
<br><br>
<form action="/admin/pages/addPage" method="POST">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" name="title" value="" id="<%= title %>" class="form-control" placeholder="Title">

    </div>
    <div class="form-group">
            <label for="">slug</label>
            <input type="text" name="slug" value="" id="<%= slug %>" class="form-control" placeholder="slug">
    
     </div>
     <div class="form-group">
            <label for="">content</label>
           <textarea name="content" class="form-control" value="<%= content %>" id="ta" cols="30" rows="10" placeholder="content"></textarea>
    
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
</form>
<%- include('../_layout/adminFooter') %>